body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-areas: "niveles game score";
}
.niveles-slide{
    grid-area: niveles;
    display: grid;
    grid-template-rows: 150px 150px;
}
.nivel{
    justify-self: center;
}
.game{
    grid-area: game;
}
.score-slide{
    grid-area: score;
    display: grid;
    grid-template-rows: 120px 120px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    min-width: 300px;
}

.flex-container .sbtn {
    width: 40%;
    min-width: 120px;
    max-width: 200px;
    height: 120px;        
    margin: 5px;
    text-align: center;
    line-height: 120px;
    font-size: 30px; 
    font-weight: bold;
    color: black;   
}

.text-center {
    text-align: center;
}

.green {
    background-color: rgb(100, 190, 100);
    border-radius: 60px 10px 10px 10px; 
}

.green:hover {
    background-color: rgb(0, 255, 0);
}

.red {
    background-color: rgb(188, 100, 90);
    border-radius: 10px 60px 10px 10px; 
}

.red:hover {
    background-color: rgb(255, 0, 0); 
}

.yellow {
    background-color: rgb(190, 190, 70);
    border-radius: 10px 10px 10px 60px; 
}

.yellow:hover {
    background-color: rgb(255, 255, 0);
}

.blue {
    background-color: rgb(37, 37, 100);
    border-radius: 10px 10px 60px 10px; 
}

.blue:hover {
    background-color: rgb(0, 0, 255);
}

.btn {    
    display: block;
    width: 100px;
    margin-top: 20px;        
    padding: 18px;    
    border-radius: 10px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    border: 1px solid rgb(155, 155, 155);
    background-color: rgb(127, 218, 127);
}

.btn:hover {
    background-color: aquamarine;
}
.boton-nivel{
    border: solid 2px dimgray ;
    width: 100px;
    background-color: dimgray;
    margin-top: 3px;
    margin-bottom: 2px;
}
.boton{
width: 100%;
background-color: transparent;
border: none;
}
.boton-nivel:hover{
background-color: aliceblue;
}